# будет игнорироваться каталог tmp
tmp/

# будут игнорироваться все файлы, заканчивающиеся суффиксами _old, _backup
*_old
*_backup

# будут игнорироваться все файлы и каталоги Thumbs.db
Thumbs.db

# будут игнорироваться все файлы .DS_Store
.DS_Store